<html>
<head>
	<title>管理|Hanson's Blog</title>
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/admin.css">
</head>

<body id="blog_edit">
	<header><h1>Hanson's Blog</h1></header>
	<div class="content-main">
		<div class="left-content fl">
			<ul>
				<li><a href="/editblog" target="opreate_frame" >内容管理</a></li>
				<li><a href="/createblog" target="opreate_frame" >发布博客</a></li>
			</ul>
		</div>
		<div class="right-content fr">
			<iframe src="/editblog" width="100%" height="100%" frameborder="0" scrolling="auto" name="opreate_frame"></iframe>
		</div>
	</div>
</body>
</html>