<html>
<head>
	<title>内容发布|Hanson's Blog</title>
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link rel="stylesheet" type="text/css" href="/css/createblog.css">
	<link rel="stylesheet" type="text/css" href="/css/markdown.css">
</head>
<body id="blog_edit">
	<input type="hidden" value="<% if(blogid) { %><%= blogid %><% } %>" id="has_id" />
	<div class="content-main">
		<div class="edit-wrap">
			<div class="edit-item">
				<input class="blog-title" data-bind="value:title" name="title" id="blog_title" placeholder="在此输入博客标题" />
			</div>
			<div class="edit-item">
				<select data-bind="options: blogCategory, selectedOptions: category" >
					
				</select>
			</div>
			<div class="edit-item">
				<input class="blog-title" data-bind="value:tags" name="title" id="blog_title" placeholder="在此输入博客标签" />
			</div>
			<div class="edit-item">
				<textarea  data-bind="visible:!preview(),value:detail" class="blog-content edit-content" id="blogcontent" placeholder="在此输入博客内容"></textarea>
				<p class="blog-content preview md-content" data-bind="visible:preview(),html:detailPreview">此处预览</p>
			</div>
			<div class="edit-item opreate-button">
				<button data-bind="click:publishBlog(),visible:!preview()">发布</button>
				<button data-bind="click:previewBlog(),text:previewText">预览</button>
			</div>
		</div>
	</div>
</body>
	<script src="/script/lib/require.js"  data-main="/script/framework/config"></script>
	<script type="text/javascript">
		require(['/script/framework/ui/create.js'],function(create){
			create.load();
		});
	</script>
</html>