<html>
	<head id='test'>
		<title><%= data.title %> | Hanson's Blog</title>
	</head>
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link rel="stylesheet" type="text/css" href="/css/detail.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/markdown.css">
	<body id="blog_detail">
		<div class="pop-cover"></div>
		<div class="slide-menu" id="slide_menu">
			<p class="home-button" data-bind="click:backHome()"><i class="fa fa-home"></i>Blog's Home</p>
			<ul class="operate-menu" id="menu">
				<li data-bind="click:openCategory()"><i class="fa fa-bar-chart"></i><a >内容分类</a></li>
				<li class="hide-item" data-bind="visible:categoryOpen()">
					<ul class="category-list" id="category_list" data-bind="foreach:category">
						<li data-bind="click:$parent.selectMenu($data)"><i class="fa fa-chevron-circle-right"></i><a data-bind="text:$data"></a></li>
					</ul>
				</li>
				<li><i class="fa fa-tag"></i><a>文章标签</a></li>
				<li><i class="fa fa-exclamation-circle"></i><a >关于 Hanson</a></li>
			</ul>
		</div>
		<!--顶部-->
		<header class="header" id="header_bind">
			<div class="button-wrap fl">
				<div class="buttons button-menu" id="menu_button" data-bind="click:openMenu()"><i class="fa fa-bars"></i></div>
				<div class="buttons button-search" onclick="window.location.href='../../'">Hanson's Blog</div>
			</div>
		</header> 
		<div class="main-content"  id="blogcontent">
			<div class="blog-wrap">
				<article class="post">
				<header>
					<h1><%= data.title %></h1>

					<p class="catogry">
					<% for(var i=0; i<data.category.length; i++) {%>
					   <i class="fa fa-pie-chart"></i><span><%= data.category[i] %></span>
					<% } %>
					</p>
					<p class="post-time"><i class="fa fa-calendar"></i><span><%= data.date %></span></p>
					</header>
					<div class="post-desc md-content"><%- data.detail %></div>
					<p class="tags">
					<% for(var i=0; i<data.tags.length; i++) {%>
					   <i class="fa fa-tag"></i><span><%= data.tags[i] %></span>
					<% } %>
					</p>
				</article>
			</div>
			<div class="duoshuo-comment">
				<!-- 多说评论框 start -->
				<div class="ds-thread" data-thread-key="<%= data.id %>" data-title="<%= data.title %>" data-url="http://hanson.yixuezi.com/blogs/<%= data.id %>"></div>
			</div>
		</div>
		
		<!-- 多说评论框 end -->
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
			var duoshuoQuery = {short_name:"hanson"};
			(function() {
				var ds = document.createElement('script');
				ds.type = 'text/javascript';ds.async = true;
				ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
				ds.charset = 'UTF-8';
				(document.getElementsByTagName('head')[0] 
				 || document.getElementsByTagName('body')[0]).appendChild(ds);
			})();
		</script>
		<!-- 多说公共JS代码 end -->
		<footer class="footer">
			<p>Powered By NodeJs</p>
			<p>© Hanson's Blog 2014 GIT @<a href="https://github.com/iamhanson/Hanson" target="_blank">github.com/iamhanson/Hanson</a></p>
		</footer>
		
		<script type="text/javascript" src="/script/libs/jquery-1.8.0.min.js"></script>
		<script type="text/javascript" src="/script/libs/jquery.tmpl.js"></script>
		<script type="text/javascript" src="/script/libs/knockout-3.1.0.js"></script>
		<script type="text/javascript" src="/script/libs/knockout.mapping.js"></script>
		<script type="text/javascript" src="/script/service/model/commonmodel.js"></script>
		<script type="text/javascript" src="/script/service/detail.js"></script>
		<script type="text/javascript" src="/script/libs/higlight/shCore.js"></script>
		<script type="text/javascript" src="/script/libs/higlight/shBrushJScript.js"></script>
		<link type="text/css" rel="stylesheet" href="/script/libs/higlight/shCoreDefault.css"/>
		<script type="text/javascript">
		 $(function(){
		    $("pre").addClass("brush:js");
				$("pre").html($("pre").find("code").html());
	      SyntaxHighlighter.all();
	    });
		</script>-
		
	</body>
</html>