<html>
<head>
	<title>内容发布|Hanson's Blog</title>
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/editblog.css">
	<link rel="stylesheet" type="text/css" href="/css/markdown.css">
</head>
<!-- Template Area -->
<script type="text/html" id="blog_list_tmpl">
	<tr>
		<td class="blog-select"><input type="checkbox" value="${id}" /></td>
		<td class="blog-name ell">${title}</td>
		<td class="blog-date ell">${date}</td>
		<td class="blog-operate">
			<a href="./createblog">编辑</a>
			<a href="javascript:void(0)" data-bind="click:$parent.deleteBlog(id())">删除</a>
		</td>
	</tr>
	<article class="post">
		<header>
			<p class="catogry" data-bind="text:category"></p>
			<h1><a target="_blank" href="/blogs/${id}">${title}</a></h1>
			<p class="post-time" data-bind="text:date"></p>
		</header>
		<p class="post-desc" data-bind="text:blogDesc"></p>
	</article>
</script>
<!-- Template Area End-->
<body id="blog_edit">
	<div class="content-main">
	<div class="bloglist-wrap">
		<table cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td class="blog-select"><input type="checkbox" value="1" /><label>全选</label></td>
					<td class="blog-name">博客名称</td>
					<td class="blog-date">发布日期</td>
					<td class="blog-operate">操作</td>
				</tr>
			</tbody>
			<tbody data-bind="template: { name: 'blog_list_tmpl', foreach: data }"></tbody>
		</table>
	</div>
	</div>
</body>
	<script type="text/javascript" src="/script/libs/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="/script/libs/jquery.tmpl.js"></script>
	<script type="text/javascript" src="/script/libs/knockout-3.1.0.js"></script>
	<script type="text/javascript" src="/script/libs/knockout.mapping.js"></script>
	<script type="text/javascript" src="script/service/edit.js"></script>
</html>