<html>
	<head>
		<title>Hanson's Blog</title>
	</head>
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<!-- Template Area -->
	<script type="text/html" id="blog_list_tmpl">
		<article class="post">
			<header>
				<p class="catogry" data-bind="text:category"></p>
				<h1><a target="_blank" href="/blogs/${id}">${title}</a></h1>
				<p class="post-time" data-bind="text:date"></p>
			</header>
			<p class="post-desc" data-bind="text:blogDesc"></p>
		</article>
	</script>
	<!-- Template Area End-->
	<body id="blog_index">
		<div class="pop-cover"></div>
		<div class="slide-menu" id="slide_menu">
			<p class="home-button" data-bind="click:backHome()"><i class="fa fa-home"></i>Blog's Home</p>
			<ul class="operate-menu" id="menu">
				<li><i class="fa fa-bar-chart"></i><a >内容分类</a></li>
				<li><i class="fa fa-tag"></i><a>文章分类</a></li>
				<li><i class="fa fa-exclamation-circle"></i><a >关于 Hanson</a></li>
			</ul>
			<ul class="button-menu-item" id="menu" data-bind="foreach:category,visible:false">
				<li><a data-bind="text:$data,click:$parent.selectMenu($data)"></a></li>
			</ul>
		</div>
		<!--顶部-->
		<header class="header" id="header_bind">
			<div class="button-wrap fl">
				<div class="buttons button-menu" id="menu_button" data-bind="click:openMenu()"><i class="fa fa-bars"></i></div>
				<div class="buttons button-search" onclick="window.location.href='./'">Hanson's Blog</div>
			</div>
		</header> 
		<!--博客的列表-->
		<div class="main-content main-slide"  id="bloglist">
			<div class="bloglist-wrap" data-bind="template: { name: 'blog_list_tmpl', foreach: data }"></div>
		</div>
		<!--博客的列表结束-->
		<footer class="footer">
			<p>Powered By NodeJs</p>
			<p>© Hanson's Blog 2014 GIT @<a href="https://github.com/iamhanson/Hanson" target="_blank">github.com/iamhanson/Hanson</a></p>
		</footer>
		<script type="text/javascript" src="script/libs/jquery-1.8.0.min.js"></script>
		<script type="text/javascript" src="script/libs/jquery.tmpl.js"></script>
		<script type="text/javascript" src="script/libs/knockout-3.1.0.js"></script>
		<script type="text/javascript" src="script/libs/knockout.mapping.js"></script>
		<script type="text/javascript" src="/script/service/model/commonmodel.js"></script>
		<script type="text/javascript" src="script/service/index.js"></script>
	</body>
</html>